allow recovery gpu_device:chr_file { getattr ioctl open read write map };
allow recovery device:dir w_dir_perms;

allow recovery configfs:dir mounton;
allow recovery functionfs:dir mounton;
allow recovery tmpfs:dir mounton;
